**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan

*.tfvars
*.tfvars.json
!*.tfvars.example
!*.auto.tfvars

.env
.env.*
*.pem
*.key

.idea/
.vscode/
.DS_Store

*.agekey
*.key
*.pem

# Secrets plaintext temporaires
*.secret.yaml
*.secret.yml